# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore

.asss-cache/
*.css.map
*.sass.map
*scss.map
*.sketch

_notes/
/bower_components/
/node_modules/

upload/
fonts/
img/
images/
PHPMailer/
phpMyAdmin/
*.png
*.jpg
*.jpeg
*.gif